*{margin: 0;
    padding: 0;}

.fa-solid{color: red;}
    
    #header{
        background-color: white;
        border-bottom:1px solid lightgray;
     
      }
      a{color: inherit;
     text-decoration: none;}
     
     .ddd21  {
         transition: all 0.2s linear;
         
       }
       .ddd21:hover {
         transform: scale(1.4);
       }
      
      
      .container1{
          width: 980px;
        margin: 0 auto;
        padding: 20px;
      }
     
       
      
      .logo{
          float: left;
      }
       
      .logo img{
       width: 30px;
       margin-right: 5px;
       display: block;
      }
     
      .menu-item{
          float: left;
          margin-right: 100px;
          padding: 8px;
          font-weight: bold;
          text-align: center;
      }
       
      .clearfix::after{
          content: "";
          display: block;
         clear: both;
      }
    
    
  
    
    .text333{
    width: 700px;
    height: 800px;
    text-align: center;
    position: relative;
    left: 50%;
    bottom:70%;
    padding-top: 20px;
    color: rgb(45, 45, 88);
    
    }
    
    .text444{padding-top: 30px;
        font-weight: bold;
        font-size: 25px;
    
    }
    
    .ff{display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
    left: 5%;
    background-image: url(/프로필사진/누나프로필배경4.jpg);
    
    }
    
    .box {
        width: 150px;
        height: 150px; 
        border-radius: 70%;
        overflow: hidden;
        margin: 50px;
        
        
    }
    .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    
    .ff img {
        transition: all 0.2s linear;
      }
      .ff:hover img {
        transform: scale(1.4);
      }
    
    
    
      .container{
        width: 300vw;
        transform: translate(-100vw);
        transition: transform 0.5s;
        z-index: 0;
     
    
        
    }
    .inner{width: 100vw; 
    float: left;
    text-align: center;
   
    
    
    }
    
    .inner img{
        width: 80vw;
        margin-top: 20px;
        height: 45vw;
        border: soli 5px rgb(91, 86, 95);  
           
    }
    
    .btm{
        padding-left: 20px;
        display: flex;
        justify-content: center;
        list-style: none;}
    
    
    .btm_0{background-color:rgba(185, 194, 233, 0.212);
    }
    
    
    
    .btm1{
        padding-left: 30px;
        display: block;
        
         
        
    }
    
    .bt1{ background-color:  rgb(0, 0, 2);
    width: 70px;
    height: 10px;
    border-radius: 20px 50%;
    color:rgba(2, 6, 241, 0);
    opacity: 0.7;
    
    
    }
    .bt2{ background-color: rgb(0, 0, 2);
       
        width: 70px;
        height: 10px;
        border-radius: 20px 50%;
        color: rgba(10, 97, 212, 0);
        opacity: 0.7;}
    
    .bt3 {background-color:   rgb(0, 0, 2);
        width: 70px;
        height: 10px;
        border-radius: 20px 50%;
    color: rgba(10, 97, 212, 0);
    opacity: 0.7;}
    /* 버튼 이미지  */
    
    
    
    
    .info{width: 90%;
    height: 1300px;
    border: solid 2px rgb(196, 180, 180);
    background-image: url(/프로필사진/누나프로필배경4.jpg);
    background-size: cover;
    position: relative;
    margin: 0 auto;}
    
    .info img{position: relative;
    left: 10%;
    top: 10%;
    border: 2px solid rgb(211, 195, 195)}
    
    
    .info_text{text-align: center;
    position: relative;
    bottom: 70%;
    font-weight: bold;
    font-size: 90px;
    color: rgb(216, 116, 116);
    text-shadow: 5px 5px 15px rgb(240, 142, 142);
    }
    
    .infott{width: 30%;
    height: 65%;
    position: relative;
    left: 42%;
    color: rgb(110, 61, 61);
    font-size: 35px;
    bottom: 65%;

    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 5px 5px 15px rgb(236, 118, 118);}