body{
    margin: 0;
    padding: 0;
 }
 
 /* 0------------------------------헤더시작------------------------
 하이퍼 a태그 스타일 + */

 .fa-solid {color: red;}
 #header{
   background-color: white;
   border-bottom:1px solid lightgray;

 }
 a{color: inherit;
text-decoration: none;}

.ddd21  {
    transition: all 0.2s linear;
    
  }
  .ddd21:hover {
    transform: scale(1.4);
  }
 
 
 .container{
     width: 980px;
   margin: 0 auto;
   padding: 20px;
 }

  
 
 .logo{
     float: left;
 }
  
 

 .menu-item{
    display: inline;
    
     padding-right: 80px;
     font-weight: bold;
     text-align: center;
     margin: 0 auto;
     
 }
  
 .ff{display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
    left: 10%;
    top:30%;
    height: 700px;
    background-color: rgb(247, 220, 179);
   
    
    }

    .ff_text{position: relative;
      text-align: center;
      top: 0%;
      font-size: 40px;
      color: rgb(255, 246, 246);
    font-size: 100px;
    font-family: 'Do Hyeon', sans-serif;
    background-color:rgb(247, 172, 33);
    width: 80%;
    left: 10%;
    
}
    
    .box {
        width: 300px;
        height: 300px; 
        border-radius: 70%;
        overflow: hidden;
        margin: 50px;
        position: relative;
        top: 20%;
        right: 2%;
        background-color: rgb(36, 30, 22);
        
        
    }
    .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    
    .ff img {
        transition: all 0.2s linear;
      }
      .ff:hover img {
        transform: scale(1.4);
      }



 
 